.container {
  min-width: 1200px;
  width: 100%;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("/public/images/triple2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 338px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 0px 50px 15px;
  box-sizing: border-box;
}

.logo_content {
  color: var(--basic-color700);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 80px 20px;
  margin-left: 200px;
}
